<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>Authentication</filter-name>
        <filter-class>uy.edu.ceip.estatus.filters.Authentication</filter-class>
    </filter>
    <filter>
        <filter-name>UpdateFromLocalhost</filter-name>
        <filter-class>uy.edu.ceip.estatus.filters.UpdateFromLocalhost</filter-class>
    </filter>
    <filter>
        <filter-name>Logging</filter-name>
        <filter-class>uy.edu.ceip.estatus.filters.Logging</filter-class>
    </filter>
    <filter>
    <filter-name>CAS Authentication Filter</filter-name>
        <filter-class>org.jasig.cas.client.authentication.AuthenticationFilter</filter-class>
        <init-param>
	    <param-name>casServerLoginUrl</param-name>
	    <param-value>https://localhost:8443/cas/login</param-value>
	</init-param>
	<init-param>
	    <param-name>service</param-name>
	    <param-value>https://localhost:8443/estatus/</param-value>
	</init-param>
    </filter>
    <filter>
    <filter-name>CAS Validation Filter</filter-name>
        <filter-class>org.jasig.cas.client.validation.Cas20ProxyReceivingTicketValidationFilter</filter-class>
        <init-param>
	    <param-name>casServerUrlPrefix</param-name>
	    <param-value>https://localhost:8443/cas/p3</param-value>
        </init-param>
        <init-param>
	    <param-name>serverName</param-name>
	    <param-value>https://localhost:8443</param-value>
        </init-param>
    </filter>
    <filter>
	<filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>
	<filter-class>org.jasig.cas.client.util.HttpServletRequestWrapperFilter</filter-class>
    </filter>
    <filter>
	<filter-name>CAS Assertion Thread Local Filter</filter-name>
	<filter-class>org.jasig.cas.client.util.AssertionThreadLocalFilter</filter-class>
    </filter>
    <filter-mapping>t
        <filter-name>UpdateFromLocalhost</filter-name>
        <servlet-name>Update</servlet-name>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CAS Authentication Filter</filter-name>
        <servlet-name>Main</servlet-name>
        <servlet-name>History</servlet-name>
        <servlet-name>About</servlet-name>
        <servlet-name>Help</servlet-name>
        <servlet-name>Detail</servlet-name>
        <servlet-name>Reload</servlet-name>
        <servlet-name>Admin</servlet-name>
	<servlet-name>News</servlet-name>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CAS Validation Filter</filter-name>
        <servlet-name>Main</servlet-name>
        <servlet-name>History</servlet-name>
        <servlet-name>About</servlet-name>
        <servlet-name>Help</servlet-name>
        <servlet-name>Detail</servlet-name>
        <servlet-name>Reload</servlet-name>
        <servlet-name>Admin</servlet-name>
	<servlet-name>News</servlet-name>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>
        <servlet-name>Main</servlet-name>
        <servlet-name>History</servlet-name>
        <servlet-name>About</servlet-name>
        <servlet-name>Help</servlet-name>
        <servlet-name>Detail</servlet-name>
        <servlet-name>Reload</servlet-name>
        <servlet-name>Admin</servlet-name>
	<servlet-name>News</servlet-name>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CAS Assertion Thread Local Filter</filter-name>
        <servlet-name>Main</servlet-name>
        <servlet-name>History</servlet-name>
        <servlet-name>About</servlet-name>
        <servlet-name>Help</servlet-name>
        <servlet-name>Detail</servlet-name>
        <servlet-name>Reload</servlet-name>
        <servlet-name>Admin</servlet-name>
	<servlet-name>News</servlet-name>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Authentication</filter-name>
        <servlet-name>Main</servlet-name>
        <servlet-name>History</servlet-name>
        <servlet-name>About</servlet-name>
        <servlet-name>Help</servlet-name>
        <servlet-name>Detail</servlet-name>
        <servlet-name>Reload</servlet-name>
        <servlet-name>Admin</servlet-name>
	<servlet-name>News</servlet-name>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Logging</filter-name>
        <servlet-name>Main</servlet-name>
        <servlet-name>History</servlet-name>
        <servlet-name>Help</servlet-name>
        <servlet-name>Detail</servlet-name>
        <servlet-name>Admin</servlet-name>
	<servlet-name>News</servlet-name>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <servlet>
        <servlet-name>Main</servlet-name>
        <servlet-class>uy.edu.ceip.estatus.servlets.Main</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>History</servlet-name>
        <servlet-class>uy.edu.ceip.estatus.servlets.History</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Exit</servlet-name>
        <servlet-class>uy.edu.ceip.estatus.servlets.Exit</servlet-class>
	<init-param>
	    <param-name>casServerLogoutUrl</param-name>
	    <param-value>https://localhost:8443/cas/logout</param-value>
	</init-param>
    </servlet>
    <servlet>
        <servlet-name>About</servlet-name>
        <servlet-class>uy.edu.ceip.estatus.servlets.About</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Help</servlet-name>
        <jsp-file>/WEB-INF/jsp/help.jsp</jsp-file>
    </servlet>
    <servlet>
        <servlet-name>Detail</servlet-name>
        <servlet-class>uy.edu.ceip.estatus.servlets.Detail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reload</servlet-name>
        <servlet-class>uy.edu.ceip.estatus.servlets.Reload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin</servlet-name>
        <servlet-class>uy.edu.ceip.estatus.servlets.Admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>News</servlet-name>
        <servlet-class>uy.edu.ceip.estatus.servlets.News</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Main</servlet-name>
        <url-pattern>/principal</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Update</servlet-name>
        <servlet-class>uy.edu.ceip.estatus.servlets.Update</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Update</servlet-name>
        <url-pattern>/actualizar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>History</servlet-name>
        <url-pattern>/historico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Exit</servlet-name>
        <url-pattern>/salir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>About</servlet-name>
        <url-pattern>/acercade</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Help</servlet-name>
        <url-pattern>/ayuda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Detail</servlet-name>
        <url-pattern>/detalle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reload</servlet-name>
        <url-pattern>/recargar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>News</servlet-name>
        <url-pattern>/noticias</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>60</session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>principal</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/jsp/errors/generic.jsp</location>
    </error-page>
    <error-page>
        <error-code>400</error-code>
        <location>/WEB-INF/jsp/errors/generic.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/WEB-INF/jsp/errors/generic.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/WEB-INF/jsp/errors/generic.jsp</location>
    </error-page>
    <error-page>
        <error-code>405</error-code>
        <location>/WEB-INF/jsp/errors/generic.jsp</location>
    </error-page>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/WEB-INF/jsp/errors/generic.jsp</location>
    </error-page>
</web-app>
